extends layout

block content

  #banner.jumbotron
    .container


  .container
    .row
      .col-sm-6
        h2 משחק חדש
        form#startForm(action="/start", method="POST", role="form")
          .form-group
            label בחר צבע שחקן
            div
              .btn-group(data-toggle="buttons")
                label.btn.btn-default.active  
                  input(type="radio", name="player-color", value="white", checked="checked")
                  | לבן
                label.btn.btn-default
                  input(type="radio", name="player-color", value="black")
                  | שחור
          .form-group
            label(for="playerName") שם
            input#playerName.form-control(type="text", name="player-name", placeholder="השם שלך")
          button.btn.btn-primary(type="submit") התחל
      .col-sm-6
        h2 להצטרפות למשחק שמישהו כבר יצר
        form#joinForm(action="/join", method="POST", role="form")
          .form-group
            label(for="gameID") מספר משחק
            input#gameID.form-control(type="text", name="game-id")
          .form-group
            label(for="playerName") שם
            input#playerName.form-control(type="text", name="player-name", placeholder="השם שלך")
          button.btn.btn-primary(type="submit") הצטרפות

  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")